<%= render 'users/home_header' %>

<%= simple_form_for @user do |f| %>
    <div class="d-flex align-items-center justify-content-center">
      <%= f.input :name, class: "form-control", label: false, placeholder: "Name" %> &nbsp;
      <%= f.button :submit, "Start Game!!", class: "btn btn-primary btn-game" %>
    </div>
<br>
<% end %>

<%= render 'score_boards/scoreboard' %>
